{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">


<div class="head">
    <div class="le">
        <a href="http://127.0.0.1:8000/app1/home_cars/">Car Rental</a>
    </div>

    <div class="ri">
        <ul>
            <li><a href="http://127.0.0.1:8000/app1/home_cars/">Car</a></li>
            <li><a href="http://127.0.0.1:8000/app1/home_cars/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
</div>